<% if (title) { %>
    <h1><%- title %></h1>
<% } else {
    res.redirect('/')
} %>

<%- messages() %>

<div class="management-container">
    <h2>Inventory Management</h2>
    <ul>
        <li><a href="/inv/add-classification" title="Add a new classification">Add New Classification</a></li>
        <li><a href="/inv/add-inventory" title="Add a new vehicle to inventory">Add New Vehicle</a></li>
    </ul>
</div>

<h2>Manage Inventory</h2>
<p>Choose a classification to see those inventory items</p>

<%- classificationSelect %>

<table id="inventoryDisplay"></table>

<nonscript>Javascript must be enable to use this page</nonscript>

<script src="/js/inventory.js"></script>